<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="res/css/tachyons.min.css" />
        <script src="res/js/vue.min.js"></script>
        <title>日本語フラッシュカード</title>   
    </head>
    <body>
        <main id="app" class="sans-serif mw8 w-100 center pa4">
            <div id="welcomePage" v-if="screen === 0">
                <h1 class="lh-title">Japanese N5 Vocabulary Flash Cards</h1>
                <p class="lh-copy">Enter the English translation of the given Japanese characters.</p>
                <button class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-near-black ph4 mv2 shadow-4 bn" v-on:click="goToScreen(1)">Start &raquo;</button>
            </div>
            <div id="gamePage" v-if="screen === 1">
                <h1 class="f-headline tc mt6">日</h1>
                <input type="text" class="pa2 br2 ba b--black-20 near-black center db tc" placeholder="Answer here" maxlength="128" autofocus />
            </div>
        </main>
        <script src="res/js/app.js"></script>
    </body>
</html>
